In [18]:
# 1. Katie Corcoran

In [19]:
# 2.
# CREATE DATABASE corgirace;

In [1]:
# 3. Setup
import psycopg2
import warnings
import pandas as pd
warnings.filterwarnings('ignore')

conn = psycopg2.connect(
database='corgirace',
user='USER',
password='PASSWORD',
host='HOST',
port= '5432'
)
cursor = conn.cursor()

In [3]:
# 3. Corgi
query = '''
CREATE TABLE IF NOT EXISTS Corgi (
    CorgID SERIAL PRIMARY KEY,
    CorgName VARCHAR(60) NOT NULL,
    Breed VARCHAR(10) NOT NULL,
    Gender VARCHAR(2),
    Weight SMALLINT,
    Age NUMERIC(3, 1));
'''
cursor.execute(query)
conn.commit()

In [5]:
# 3. Race
query = '''
CREATE TABLE IF NOT EXISTS Race (
    RaceID SERIAL PRIMARY KEY,
    RaceName VARCHAR(60) NOT NULL,
    RaceState CHAR(2),
    RaceDate DATE,
    RaceTemp SMALLINT);
'''
cursor.execute(query)
conn.commit()

In [7]:
# 3. Outcome
query = '''
CREATE TABLE IF NOT EXISTS Outcome (
    OutcomeID SERIAL PRIMARY KEY,
    CorgID INT NOT NULL,
    RaceID INT NOT NULL,
    RaceTime NUMERIC(5,2));
'''
cursor.execute(query)
conn.commit()

In [9]:
# 4.
df = pd.read_csv('corgi.csv')
for x in df.index:
    cursor.execute(f'''
        INSERT INTO Corgi (CorgName, Breed, Gender, Weight, Age)
        VALUES (
        '{ df.loc[x]['CorgName']}', 
        '{df.loc[x]['Breed']}', 
        '{df.loc[x]['Gender']}', 
        {df.loc[x]['Weight']}, 
        {df.loc[x]['Age']});
    ''')
    conn.commit()

In [11]:
# 5.
query = '''
SELECT
    *
FROM Corgi
ORDER BY CorgName
LIMIT 10
'''

df = pd.read_sql(query, conn, index_col='corgid')
print(df)

                         corgname  breed gender  weight  age
corgid
9       Baroness von Fluffyshanks    Pem     SF      22  4.0
21                          Bucco    Pem      M      32  4.0
18                     Cowboy Dan    Pem      M      26  5.5
12                      Drederick    Pem      M      29  4.5
11                 Foxy Stumptail    Pem     NM      29  5.5
22                       Fruitcup  Cardi      F      23  2.5
19                    Gareth Bale    Pem     NM      31  5.0
2                   Golden Graham    Pem      M      30  2.0
7                Holden Corgfield    Pem      M      25  4.0
25                 Hywel the Woof    Pem      M      28  2.0

In [13]:
# 6.
df = pd.read_csv('race.csv')
for x in df.index:
    cursor.execute(f'''
        INSERT INTO Race (RaceName, RaceState, RaceDate, RaceTemp)
        VALUES (
        '{ df.loc[x]['RaceName']}', 
        '{df.loc[x]['RaceState']}', 
        '{df.loc[x]['RaceDate']}', 
        {df.loc[x]['RaceTemp']});
    ''')
    conn.commit()

In [15]:
# 7.
query = '''
SELECT
    *
FROM Race
ORDER BY RaceDate
LIMIT 10
'''

df = pd.read_sql(query, conn, index_col='raceid')
print(df)

                   racename racestate    racedate  racetemp
raceid
1            Del Mar Trophy        CA  2018-06-03        80
2            Memorial Derby        WA  2018-06-17        77
3               Dixie Derby        UT  2018-06-24        95
4              Missions Cup        CA  2018-06-30        73
5           Borderside Dash        WA  2018-07-21        74
6              Teton Runoff        WY  2018-07-29        77
7             Emerald Chase        WA  2018-08-05        89
8       Billings Grand Prix        MT  2018-08-12        95
9                 Idaho Cup        ID  2018-08-19        93
10          Bachelor Stakes        OR  2018-08-26        87

In [17]:
# 8.
df = pd.read_csv('outcome.csv')
for x in df.index:
    cursor.execute(f'''
        INSERT INTO Outcome (CorgID, RaceID, RaceTime)
        VALUES (
        { df.loc[x]['CorgID']}, 
        {df.loc[x]['RaceID']}, 
        {df.loc[x]['RaceTime']});
    ''')
    conn.commit()

In [19]:
# 9.
query = '''
SELECT
    *
FROM Outcome
ORDER BY RaceTime
LIMIT 10
'''

df = pd.read_sql(query, conn, index_col='outcomeid')
print(df)

           corgid  raceid  racetime
outcomeid
116            14      10     40.07
123             4      11     40.10
45             21       4     40.73
28              9       3     40.74
27              8       3     40.94
12             25       1     41.26
95             24       8     42.59
57             19       5     42.75
10             21       1     42.96
58             25       5     42.97